* {
    padding: 0;
    margin: 0;
}

div {
    box-sizing: border-box;
}

body {

}

h2 {
    font-weight: 700;
}

button {
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

button:hover {
    cursor: pointer;
    background-color: #cbcbcb;
}

.buttons {
    text-align: center;
    min-height: 40px;
}

.hand-actions {
    text-align: center;
}

.hand-actions > button {
    margin-top: 5px;
}

#main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
}

.player-section {
    min-width: 120px;
}

.player-section > div:not(.mat) {
    width: 90%;
}

#sidebar {
    width: 400px;
}

#app {
    display: flex;
    flex-direction: row;
}

#discards-container {

}

#intro {
    width: 100%;
    text-align: center;
}

#intro img {
    width: 300px;
    height: auto;
}

#set-name {
    margin-top: 20px;
}

input {
    height: 26px;
    font-size: 14px;
    padding: 3px 6px;
    width: 100px;
}

#set-name p {
    padding: 5px;
}

#intro h1 {
    padding: 10px;
}

#header {
    text-align: center;
    background-color: #ffe7d1;
}

#header p {
    padding: 5px;
}

#set-name button {
    margin-left: 10px;
}

#discards {
    min-height: 400px;
    background-color: #e5e5e5;
}

#discards > .card {
    display: inline-block;
}

#hands {
    display: flex;
    flex-direction: row;
}

.hand {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 380px;
}

#stacks {
    display: flex;
    flex-direction: row;
}

#players {
    display: flex;
    flex-direction: row;
}

.player-section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack {
    margin: 5px;
    width: 60px;
    height: 300px;
    background-color: #dadada;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.stack.last {
    border: 1px solid black;
}

.card {
    margin: 5px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background: #e5e5e5;
    border: 1px solid gray;
    position: relative;
    box-shadow: 1px 2px #ababab;
}

.card.null {
    border: none;
    box-shadow: none;
    cursor: default;
}

.player {
    margin: 5px;
    height: 36px;
    width: 120px;
    border: 1px solid gray;
    text-align: center;
    line-height: 36px;
}

.card img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 70%;
    max-height: 70%;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.card img.is_me {
    opacity: 0.2;
}

#members {
    list-style-type: none;
}

#members li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#members li img {
    display: inline-block;
    height: 15px;
    width: auto;
    margin: 5px;
}

.mat {
    width: 60px;
    height: 60px;
    box-shadow: 1px 2px #ababab;
    position: relative;
}

.mat img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 70%;
    max-height: 70%;
    pointer-events: none;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.green {
    background-color: #caffbe;
}

.red {
    background-color: #ffa3b2;
}

.blue {
    background-color: #d1e1ff;
}

.orange {
    background-color: #ffd3b7;
}

.yellow {
    background-color: #fcffc6;
}

.purple {
    background-color: #ebc6ff;
}
