* {
    padding: 0;
    margin: 0;
}

body {

}

h2 {
    font-weight: 700;
}

#app {
    display: flex;
    flex-direction: row;
}

#discards-container {
    width: 250px;
    padding-left: 50px;
}

#discards {
    display: flex;
    flex-wrap: wrap;
    min-height: 200px;
    background-color: #e5e5e5;
}

#hands {
    display: flex;
    flex-direction: row;
}

#stacks {
    display: flex;
    flex-direction: row;
}

#players {
    display: flex;
    flex-direction: row;
}

.stack {
    margin: 5px;
    width: 60px;
    height: 150px;
    background-color: gray;
}

.card {
    margin: 10px;
    height: 60px;
    width: 60px;
    border-radius: 50px;
    background: #e5e5e5;
    border: 1px solid gray;
    position: relative;
    box-shadow: 1px 2px #ababab;
}

.card.null {
    border: none;
    box-shadow: none;
    cursor: default;
}

.player {
    margin: 5px;
    height: 80px;
    width: 60px;
    border: 1px solid gray;
}

.card img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-width: 70%;
    max-height: 70%;
    pointer-events: none;
}

.green {
    background-color: #caffbe;
}

.red {
    background-color: #ffa3b2;
}

.blue {
    background-color: #d1e1ff;
}

.orange {
    background-color: #ffd3b7;
}

.yellow {
    background-color: #fcffc6;
}

.purple {
    background-color: #ebc6ff;
}
